$arrow-color: #000 !default;
$arrow-stroke-width: 3px !default;
$arrow-size: 1.5em !default;
$arrow-bg: #fff !default;
$arrow-border-radius: 1.5 * $arrow-size !default;

:root {
  --s-trans-dur: 0;
  --s-trans-animation: ease-out;
  --s-transform-x: -33.3333333%;
  --s-amount: 1;
}

.staged-outer {
  position: relative;
  overflow-x: hidden;

  .staged-left-nav, .staged-right-nav {
    cursor: pointer;
    position: absolute;
    height: 2.5 * $arrow-size;
    width: 1.5 * $arrow-size + 1em;
    top: calc(50% - #{1.25 * $arrow-size});
    z-index: 1;

    &:before {
      content: '';
      display: block;
      opacity: 0.2;
      background-color: $arrow-bg;
      width: 100%;
      height: 100%;
    }
    &:after {
      border-top: $arrow-stroke-width solid $arrow-color;
      border-radius: $arrow-stroke-width;
      content: '';
      display: block;
      height: $arrow-size;
      width: $arrow-size;
      top: calc(50% - #{$arrow-size / 2} - #{$arrow-stroke-width / 2});
      position: absolute;
    }
  }
  .staged-left-nav {
    left: 0;
    &:before {
      border-radius: 0 $arrow-border-radius $arrow-border-radius 0;
    }
    &:after {
      left: 1em;
      border-left: $arrow-stroke-width solid $arrow-color;
      transform: rotate(-45deg);
    }
  }
  .staged-right-nav {
    right: 0;
    &:before {
      border-radius: $arrow-border-radius 0 0 $arrow-border-radius;
    }
    &:after {
      right: 1em;
      border-right: $arrow-stroke-width solid $arrow-color;
      transform: rotate(45deg);
    }
  }
}

.staged {
  width: 300%;
  transform: translateX(var(--s-transform-x));
  transition: transform var(--s-trans-dur) var(--s-trans-animation);

  .staged-child {
    vertical-align: top;
    width: calc(33.333333% / var(--s-amount));
    display: inline-block;
  }
}
